---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Card from "@/components/Card.astro";
import { SITE } from "@/config";
import { getSortedPosts } from "@/utils/getSortedPosts";

const sortedPosts = await getSortedPosts(await getCollection("blog"));

const posts = sortedPosts.slice(0, SITE.postPerIndex);
---
<Layout title={SITE.title}>
  <Main pageTitle="All Posts" pageDesc="All articles and posts.">
    <ul>
      {posts.map(post => <Card href={`/posts/${post.slug}/`} frontmatter={post.data} />)}
    </ul>
  </Main>
  {
    SITE.postPerIndex < sortedPosts.length && (
      <footer class="flex justify-center">
        <a href="/posts">
          <button class="btn-primary">View All Posts</button>
        </a>
      </footer>
    )
  }
</Layout>
